* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fdf2f5;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 50px;
  background-color: white;
}

/* Logo */
header h2 {
  color: #fb2b37;
}

/* Nav */
nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
}

/* Right side */
header input {
  padding: 15px 24px;
  border-radius: 20px;
  border: none;
  background: #f3f3f5;
  font-size: 16px;
}

header button {
  padding: 10px 24px;
  border: none;
  background: #fb2b37;
  color: white;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 15px;
}

/* Hero Section */
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 60px;
}

/* Left text */
section h1 {
  font-size: 60px;
}

/* Make "Delivery &" red */
section h1:nth-of-type(2) {
  color: #fb2b37;
}

/* Paragraph */
section p {
  margin: 24px 0;
  color: #353b49;
  max-width: 400px;
  font-size: 18px;

}

/* Buttons */
section button {
  margin-top: 23px;  
  padding: 13px 27px;
  border-radius: 25px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
}

/* First button (on hover effect yet to be added)*/ 
section button:first-of-type {
  background: #fb2b37;
  color: white;
}

/* Second button (on hover effect yet to be added)*/
section button:last-of-type {
  border: 1px solid #c1c5ca;
  background: transparent;
}

/* Image */
section img {
  border-radius: 20px;
}